@import "variables.scss";


//kolory
.gray{
  color:$color-gray2;
}

.colorGradient{
  background-color: $color-dodatkLighter;
  background-image: linear-gradient(190deg,rgba(0,0,0,0) 20%, rgba(255,0,255,0.3)) ;
}
.white2orange{
  background: $color-dodatki; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom, white 50%, orange 100%);
  background: -webkit-linear-gradient(to bottom, white 50%, orange 100%);
  background: -o-linear-linear-gradient(to bottom, white 50%, orange 100%);
  background: -moz-linear-linear-gradient(to bottom, white 50%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.radial_rainbow{
  background: $color-main1; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient( rgba(0,0,0,1) 50%, rgba(0,0,0,0) 90%) no-repeat border-box, -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-radial-gradient( rgba(0,0,0,1) 50%, rgba(0,0,0,0) 90%) no-repeat border-box, -o-linear-gradient(right,red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-radial-gradient( rgba(0,0,0,1) 50%, rgba(0,0,0,0) 90%) no-repeat border-box, -moz-linear-gradient(right,red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: radial-gradient( rgba(0,0,0,1) 50%, rgba(0,0,0,0) 90%) no-repeat border-box, linear-gradient(to right,red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}
.radial_black2orange{
  background: $color-main1;
  background: -webkit-radial-gradient( black 50%, orange 90%);
  background: -o-linear-radial-gradient( black 50%, orange 90%);
  background: -moz-radial-gradient( black 50%, orange 90%);
  background: radial-gradient( black 50%, orange 90%);
}



//bable
.ripple {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  z-index:1;
}
.rippleEffect {
  animation: rippleDrop 2.6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// svg przejscia
.divider {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 25px;
  z-index: 0;
}
.dividerBegin{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 25px;
  z-index: 0;
}

//liquid button

.liquid-button{
  margin: auto;
  path{
    cursor: pointer;
  }
}

//walidacja
.is-invalid{
  border-width: 2px;
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
  position: absolute;
  width: auto;
  right: 30px;
  margin-top: 0;
}

.valid-feedback.feedback-icon{
  bottom: 10px;
}
.invalid-feedback.feedback-icon{
  bottom: 30px;
}

//inne
.close{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.btn{
  margin-right:5px;
  transition: 0.3s;
  &.btnSelected{
    box-shadow: 0px 0px 2px 2px $color-dodatki;
    &:hover{
      box-shadow: 0px 0px 2px 2px $color-dodatki;
    }
  }

  &:hover{
    box-shadow: 0px 0px 1px 1px $color-dodatki;
  }
}



//amimacje
//slide i showEuro
.slideanim,.slideLeftanim {
  visibility:hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-direction: normal;
  visibility: visible;
}

.slideLeftReverse{
  animation-name: slideLeftReverse;
  -webkit-animation-name: slideLeftReverse;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-direction: normal;
  visibility: hidden;
}

.showEuro{
  animation-name: showEuro;
  -webkit-animation-name: showEuro;
  animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-timing-function:cubic-bezier(0,.8,.3,1.5);
  -webkit-animation-timing-function:cubic-bezier(0,.8,.3,1.5);
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(130%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideLeftReverse {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(130%);
  }
}

@keyframes showEuro {
  0% {
    opacity: 0;
    color:gold;
    transform: scale3d(1.7,1.7,1);
  }
  100% {
    opacity: 1;
    transform:  scale3d(1,1,1);
  }
}
@-webkit-keyframes showEuro {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(220%,0%,70%);
  }
  100% {
    opacity: 1;
    -webkit-transform:scale3d(0%,0%,0%);
  }
}

//do borderow nav
.left{
  direction: rtl;
  &:after{
    left:0 ;
  }

  &:hover:after{
    right:0;
  }

}

.right{
  &:after{
    right:0;
  }

  &:hover:after{
    left:0;
  }

}

//text zabawa z shapami

.circle{
  /*background-color: aqua;*/
  height: 250px;
  width: 350px;
  @media screen and (max-width: 1640px) {
    height: 300px;
  }
  @media screen and (max-width: 1590px) {
    display:none;
  }
}
.circleL{
  shape-outside: ellipse(229px 125px at 0px 50%);
  clip-path: ellipse(229px 125px at 0 50%);

  @media screen and (max-width: 1900px) {
    clip-path: ellipse(175px 125px at 0 50%);
    shape-outside: ellipse(175px 125px at 0 50%);
  }

}

.circleR{
  shape-outside: ellipse(229px 125px  at 100% 50%);
  clip-path: ellipse(229px 125px at 100% 50%);

  @media screen and (max-width: 1900px) {
    clip-path: ellipse(175px 125px  at 100% 50%);
    shape-outside: ellipse(175px 125px at 100% 50%);
  }

}

.romb{
  display:none;
  height: 300px;
  width: 300px;
  @media screen and (max-width: 2000px) {
    display:block;
  }
  @media screen and (max-width: 1810px) {
    display:block;
    height: 350px;
  }
  @media screen and (max-width: 1590px) {
    display:none;
  }
}
.rombLeft {
  shape-outside: polygon(0 0, 0 300px, 300px 300px, 100px 0);
  clip-path: polygon(0 0, 0 300px, 300px 300px, 100px 0 );
  @media screen and (max-width: 1810px) {
    shape-outside: polygon(0 0, 0 350px, 270px 350px, 30px 0);
    clip-path: polygon(0 0, 0 350px, 270px 350px, 30px 0 );
  }

}

.rombRight {
  shape-outside: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
  clip-path: polygon(200px 300px, 300px 300px, 300px 0, 0 0);
  @media screen and (max-width: 1810px) {
    shape-outside: polygon(270px 350px, 300px 350px, 300px 0, 30px 0);
    clip-path: polygon(270px 350px, 300px 350px, 300px 0, 30px 0);
  }
}

.textRomb{
  @media screen and (max-width: 2000px) {
    margin-top:30px !important;
  }
  @media screen and (max-width: 1860px) {
    margin-top:20px !important;
  }
  @media screen and (max-width: 1810px) {
    margin-top:45px !important;
  }
  @media screen and (max-width: 1740px) {
    margin-top:35px !important;
  }
  @media screen and (max-width: 1690px) {
    margin-top:25px !important;
  }
  @media screen and (max-width: 1640px) {
    margin-top:15px !important;
  }
}