@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,700');
@import "variables.scss";
@import "classes.scss";
@import "scrollbar.scss";

//przygotowanie
body {
  color: $color-gray2;
  font: $font-body;
  line-height: 1.4;
  font-weight: bold;
}

html{
  overflow-x: hidden;
}
h2 {
  color: #303030;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
h4 {
  color: #303030;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.375em;
}
hr{
  border: 0;
  background-color: $color-dodatki;
  height: 1px;
  margin: 35px auto;
  width: 80%;
}
a{
  color:$color-dodatki;
  &:hover{
    color:darken($color-dodatki,3);
  }
}

.jumbotron {
  background-color: $color-main1;
  font-family: $font-header;
}
.container-fluid {
  z-index: 2;
  padding: 50px 150px 80px 150px;
  @media screen and (max-width: 992px) {
    padding: 45px 110px 75px 110px;
  }
  @media screen and (max-width: 768px) {
    padding: 40px 70px 70px 70px;
  }
  @media screen and (max-width: 576px) {
    padding: 35px 40px 65px 70px;
  }
}

.col-sm-4 {
  @media screen and (max-width: 768px) {
    text-align: center;
    margin: 25px 0;
  }
}

// strona
section{
  position: relative;
  padding:0px 200px;
  &:nth-child(odd) {
    background: $color-main1;
    h2{
      color: $color-white;
    }
  }
  &:nth-child(even) {
    background: #f2f2f2;
  }
  h2{
    &::first-letter{
      color: $color-dodatki;
      font-size: 2em;  
    }
  }
  h3{
    color: $color-dodatki;
  }
}

.navbar{
  font-family: $font-header;
  background-color: $color-dodatkLighter;
  background-image: linear-gradient(190deg,rgba(0,0,0,0) 20%, rgba(255,0,255,0.3)) ;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 0;
  z-index: 9999;

  .navbar-brand{
    color: opacify($color-main1,.8);
    height:40px;
    width:40px;
    border: 1px black dotted;
    border-radius: 50%;
    font-weight: normal;
    text-align:center;
  }

  .navbar-flag{
    opacity:0.5;
    color: opacify($color-main1,.8);
    height:40px;
    width:40px;
    border: 1px black dotted;
    border-radius: 50%;
    text-align:center;
    transition:0.3s;

    &.active{
      opacity:1;
    }

    &:hover{
      opacity:1;
    }
  }



  .nav-item.active .nav-link,
  .nav-item:hover .nav-link {
    color: $color-main1;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  .nav-title{
    position: relative;
    /*direction: rtl; // prawo LEwo*/
    
    &:after{
      position: absolute;
      content: '';
      width: 0;
      height: 2px;
      background: #000;
      transition: all .3s ease-in-out;
    }

    &:hover:after{
      width:100%;
    }
    
    &:first-of-type{
       &:after{
         right:0 !important; 
       }
    }
    &:last-of-type{
       &:after{
         left:0 !important; 
       }
    }
  }

}

//header
header#helloWindow{
  font-size:1.2em;
  height:100vh;
  margin:0;
  .helloWindow__container{
    position: relative;
    top:39%;
    left: 0%;
    perspective: 50em;
    z-index:2;
    .helloWindow__container__h1{
      @extend .white2orange;
      line-height: 90%;
      font-size:5em;
      margin:0;
      padding:0;
      @media screen and (max-width: 768px) {
        font-size:3.5em;
      }
      @media screen and (max-width: 400px) {
        font-size:2.5em;
      }
    }
  }
  .helloWindow__container__subtitle{
    @extend .white2orange;
    font-size:1.5em;
    margin-top:30px;
  } 
}


section#about{
  .about__textContainer{
    display: flex;
    align-items: center;
    .about__textContainer__text{
      font-size:1.5em;
      text-align: justify;
      text-align-last: center;
      text-justify: inter-word;
      margin-right:20px;
      @media screen and (max-width: 992px) {
        font-size:1.25em;
      }
      @media screen and (max-width: 768px) {
        font-size:1.1em;
      }
      .about__textContainer__text__p{
        margin-top:5px;
      }
    }
  }

  .about__photoContainer{
    @media screen and (max-width: 576px) {
      text-align:center;
    }
    #myPhotoSvg{
      width:350px;
      height:350px;
      @media screen and (max-width: 992px) {
        width:300px;
        height:300px;
      }
      @media screen and (max-width: 768px) {
        width:250px;
        height:250px;
      }
    }
  }
  
  .about__textContainerBtn{
   display:none;
    @media screen and (max-width: 2000px) {
      display:block;
    }
    @media screen and (max-width: 1590px) {
      display:none;
    }
        
  }
}

section#technology{
  .technology__container__hr{
    width:50%;
  }
  .technology__icon{
    width:150px;
    height:auto;
    @media screen and (max-width: 992px) {
      width:130px;
    }
    @media screen and (max-width: 576px) {
      width:100px;
    }
  }

  .technology__about__p{
    font-size:1.1em;
  }

  h3{
    @media screen and (max-width: 768px) {
      font-size:1.5rem;
    }
  }
}


section#projects{
  @import "timeline.scss";
}


section#contact{
  .contact__media_container{
    &.container__right{
      width:50px;
      top:130px;
      right:10px;
    }
    .fab{
      color:$color-dodatki;
      background-color: transparent;
      width:50px;
      height:50px;
      text-align: center;
      cursor: pointer;
      transition: all .3s linear;
      border-radius: 50%;
      font-size:35px;
      line-height: 48px;
      border: 1px solid $color-main1;
      @media screen and (max-width: 992px) {
        width:40px;
        height:40px;
        font-size:25px;
        line-height: 38px;
      }

      &.rightIcons{
        margin:20px 0;
      }
      &:hover{
        background-color: $color-dodatki;
        color:$color-main1;
        border: 1px solid $color-dodatki;
      }
    }
  }
}
footer{
  background-color:$color-main1;
  color:gray;
  font-size:0.6em;
  .fas {
    font-size: 20px;
    margin: 10px 0;
    color: $color-dodatki;
  }
  p{
    margin:0;
  }
  a{
    color:gray;
  }
}


