@import "variables.scss";
html{
  scrollbar-color: $color-dodatki black;
}
::-webkit-scrollbar {
    width: 2em;
    background-color: $color-main1;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(220,220,0,0.3);
}
 
::-webkit-scrollbar-thumb {

  background-color: $color-dodatkLighter;
  background-image: linear-gradient(190deg,rgba(0,0,0,0) 20%, rgba(255,0,255,0.3)) ;
   
  outline: 1px solid $color-dodatkLighter;
  border-radius: 25px;
  transition: all 1.3s linear;
   
  &:hover{
    background-color: darken($color-dodatkLighter,5);
  }
  &:active{
    background-color: $color-dodatki;
  }
  
}
::-webkit-scrollbar-thumb:start {
    background-color: green !important;
}

::-webkit-scrollbar-corner {
  background-color: $color-main1;
}