@import "variables.scss";

.timeline {
  position: relative;
  overflow: auto;
  
  &:before {
    background: $color-gray;
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    
    @media screen and (min-width: 40em) {
      left: 50%;
    }
  }
  
  .timeline__h2 {
    background: $color-gray;
    position: relative;
    max-width: 6em;
    margin: 0 auto 1em;
    padding: 0.5em;
    text-align: center;
    clear: both;
  }
  
  .timeline__ul {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1;
    @media screen and (min-width: 40em) {
      padding-left: 0;
      max-width: 850px;
      margin: 0 auto;
    }
    
    .timeline__ul__li {
      background: $color-gray;
      position: relative;
      padding: 1em;
      margin-bottom: 1em;
    
      &:before {
        content: '';
        position: absolute;
        left: -1em;
        top: 0;
        width: 0;
        height: 0;
        border-top: 1em solid $color-gray;
        border-left: 1em solid transparent;
      }
      @media screen and (min-width: 40em) {
        width: 42%;
         
        &:nth-child(even) {
          float: right;
          margin-top: 2em;
        }

        &:nth-child(odd) {
          float: left;

          &:before {
            border-top: 1em solid $color-gray;
            border-right: 1em solid transparent;
            right: -1em;
            left: auto;
          }
        }

        &:nth-of-type(2n+1) {
          clear: both;
        }
      }
      .li__h3 {
        margin-top: 0;
      }
      .li__technologies{
        margin-bottom:10px;
        .li__technologies__technology{
          background-color: rgba(255,255,255,.719);
          color: #202020;
          display: inline-block;
          margin-bottom: 5px;
          padding: 0 5px;
          width: auto;
          border: 1px solid rgba(0,0,0,.267);
          border-radius: 5px;
        }
      }
  
      .li__time {
        font-style: italic;
      }
      .li__iconDiv{
        padding:0 5px;
        float:right;
        .li__iconDiv__a{
          color:$color-dodatki;
          .iconDiv__a__icon{
            font-size: 20px;
          }
        }
      }
    }
  }
}
 
@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}