//zmienne
$color-main1: black; // ebdzie color-main1
$color-dodatkLighter: gold;
$color-dodatki: orange;
$color-white: white;
$color-gray: #dddddd;
$color-gray2: #818181;

$font-body: 400 15px 'Exo 2', sans-serif;
$font-header: 'Exo 2', sans-serif;
